.ModalStaticContainer{
    position: static;
    position: relative;
    height:0px;
    width:0px;
    z-index: 999;
}

.ModalContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
}

.backDrop{
    opacity: 0.7;
    background-color: black;
    height:100%;
    width:100%;
}

/*------------ the actual modal------------*/
.Modal{
    overflow: hidden;
    position: absolute;
    background-color: white;
    width:350px;
    height:450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* transition: cubic-bezier(0.55, 0.055, 0.675, 0.19); */
    animation: openModalAnimation 0.3s ease;
}

@keyframes openModalAnimation{
    from{
        transform: scale3d(0.7,0.7,0.7);
        opacity: 0;
    }
    to{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}



.modal-header{
    display: flex;
    height:40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5da0ff;
    background: linear-gradient(to bottom, #5da0ff 0%,  #3a65ff 100%);
}


.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    flex:1;
}


.modal-input{
    width:80%;
    font-size:18px;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid gray;
}

.modal-input:focus{
    outline: none;
}

.modal-input-margtop{
    margin-top:50px;
}


.modal-buttonrow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:17px;    
}