
.HeaderComponent {
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 100%;
    background-color: #5da0ff;
    background: linear-gradient(135deg, #5da0ff 0%,  #3a65ff 100%);
    border-bottom:1px solid #6ca9ff;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.59);
}


.Me-container {
    margin:3px;
    margin:10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:fit-content;
    width:fit-content;
}


.Me-container:hover{
    background-color: white;
}


.Me {
    height: 100px;
    width: auto;
    border-radius: 50%;
}


.Me:hover{
    opacity: 0.8;
}


.buttonsRow{
    display: flex;
    flex-direction: row;
    width:fit-content;
    margin-right:40px;
}


.button, .active{
    font-size: 20px;
    margin:20px;
    cursor: pointer;
    height:fit-content;
    color:white;
    text-decoration: none;
}


.button:hover{
    color:rgb(200, 200, 200);
}


.active{
    border-bottom:1px solid white;
}