.Header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 100%;
    background-color: #5da0ff;
    background: linear-gradient(to bottom, #5da0ff 0%,  #3a65ff 100%);

}

.Me-container {
    padding:3px;
    margin:10px;
}

.Me {
    height: 100px;
    width: auto;
    border-radius: 50%;
}


.buttonsRow{
    display: flex;
    flex-direction: row;
    width:fit-content;
    margin-right:40px;
}


.button, .active{
    font-size: 20px;
    margin:20px;
    cursor: pointer;
    height:fit-content;
    color:white;
    text-decoration: none;
}

.button:hover{
    color:rgb(200, 200, 200);
}

.active{
    border-bottom:1px solid white;
}