.button-container{
    border-radius: 7px;
    padding:7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}


.delete{
    background-color: red;
    color:white;
    padding:3px;
    font-size:10px;
}

.delete:hover{
    background-color: rgb(255, 52, 86);
    color:white;
}

.standard{
    background-color: rgb(75, 117, 255);
    color:white;
}

.standard:hover{
    background-color: rgb(109, 143, 255);
}

.button-disabled{
    pointer-events: none;
    opacity: 0.6;
}