

.page-container{
    display: flex;
    flex-direction: column;
    width:100%;
    flex:1;
    overflow:auto;
    position: relative;
}


.centerPos{
    justify-content: center;
    align-items: center;
}


.endPos{
    justify-content: flex-end;
    align-items: flex-end;
}



/*-----------test cv--------*/
.CV-mainpage-wrapper{
    position: static;    
}

.CV-mainpage-container{
    position: absolute;
    width:100vw;
    height:100vh;
    background-color: white;
    z-index: 999;
}


