.ModalStaticContainer{
    position: static;
    position: relative;
    height:0px;
    width:0px;
    z-index: 999;
}


.ModalContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
}


.backDrop{
    opacity: 0.7;
    background-color: black;
    height:100%;
    width:100%;
}


/*------------ the actual modal------------*/
.Modal{
    overflow: hidden;
    position: absolute;
    background-color: white;
    width:350px;
    height:450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    animation: openModalAnimation 0.3s ease;
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.10);
}


@keyframes openModalAnimation{
    from{
        transform: scale3d(0.7,0.7,0.7);
        opacity: 0;
    }
    to{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
}


.modal-getlost{
    animation: throwAwayModal 0.2s ease;
    opacity: 0;
}

@keyframes throwAwayModal{
    from{
        transform: scale3d(1,1,1);
        opacity: 1;
    }
    to{
        transform: scale3d(0.7,0.7,0.7);
        opacity: 0;
    }
}


.backDrop-getlost{
    animation-delay: 0.3s;
    animation: throwAwayBackdrop 0.3s ease;
    opacity: 0;
}


@keyframes throwAwayBackdrop{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}



.modal-header{
    display: flex;
    height:60px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #5da0ff;
}


.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding:10px;
    flex:1;
}


.modal-content-error{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:30px;
    width:100%;
}


.modal-content-error-text{
    color:red;
    font-size:16px;
    margin-left:30px;
    margin-right:30px;
    width:fit-content;
    text-align: center;
}


.modal-input{
    width:80%;
    font-size:18px;
    border-top: none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid gray;
}


.modal-input:focus{
    outline: none;
}


.modal-input-margtop{
    margin-top:50px;
}


.modal-buttonrow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:17px;   
    background-color: rgb(236, 236, 236); 
    border-top:1px solid rgb(230,230,230);
}